@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Desktop View */
@media screen and (min-width: 1024px) {
	.Apps {
		display: flex;
	}
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.Apps {
		display: flex;
	}
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
	.Apps {
		flex-direction: column;
	}
}
